html,
body {
    height: 100%;
}

body {
    background-color: #e6ffff;
    font-family: "Roboto", sans-serif;
    text-align: center;

}
header {
  background: #333;
  color: #fff;
  padding: 30px;
  text-align: center;
  border-bottom: 4px #000 solid;
  margin-bottom: 10px;
}
h1{
  font-size: 50px;
  font-weight: 400;
  text-align: center;

}


.btn-primary {
  padding: 15px 40px 15px 40px;
  background-color: #34c6d3;
  border-color: #34c6d3;

}

form .form-control {
  border-radius: 0;
  font-size: 17px;
  font-weight: 300;
  padding: 8px 16px;
  margin-bottom: 20px;
}

.form-group {
  width: 90%;
}

.button {
  text-align: left;
  margin-left: 240px;
}

.btn-success{
  width:20%;
}

.user-name {
  cursor: pointer;
  color: rgb(29, 161, 242);
  font-weight: 500;
}

.created-time {
  color:  #595959;
  font-weight: 300;
}

.text_block {
  font-weight: bold;
  font-size: 30px;
}